[submodule "apps/core/admin"]
	path = apps/core/admin
	url = https://github.com/adventurelabsbrasil/admin.git
[submodule "apps/labs/finfeed"]
	path = apps/labs/finfeed
	url = https://github.com/adventurelabsbrasil/finfeed.git
[submodule "apps/core/elite"]
	path = apps/core/elite
	url = https://github.com/adventurelabsbrasil/elite.git
[submodule "apps/core/adventure"]
	path = apps/core/adventure
	url = https://github.com/adventurelabsbrasil/adventure.git
[submodule "clients/01_lidera/lidera-space"]
	path = apps/clientes/lidera/space
	url = https://github.com/adventurelabsbrasil/lidera-space.git
[submodule "clients/02_rose/roseportaladvocacia"]
	path = clients/02_rose/roseportaladvocacia
	url = https://github.com/adventurelabsbrasil/roseportaladvocacia.git
[submodule "clients/04_young/young-emp"]
	path = clients/04_young/young-emp
	url = https://github.com/adventurelabsbrasil/young-emp.git
[submodule "clients/04_young/ranking-vendas"]
	path = clients/04_young/ranking-vendas
	url = https://github.com/rodrigoribasyoung/ranking-vendas.git
[submodule "clients/04_young/young-talents"]
	path = apps/clientes/young-talents/plataforma
	url = https://github.com/adventurelabsbrasil/young-talents.git
[submodule "clients/01_lidera/lidera-skills"]
	path = apps/clientes/lidera/skills
	url = https://github.com/adventurelabsbrasil/lidera-skills.git
[submodule "apps/labs/whatsapp-worker"]
	path = apps/labs/whatsapp-worker
	url = https://github.com/adventurelabsbrasil/adv-zazu-whatsapp-worker.git
[submodule "tools/dino"]
	path = tools/dino
	url = https://github.com/adventurelabsbrasil/dino.git
